@charset "UTF-8";
.menu {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  background-color: #ffffff;
}
.menu .foto {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: 25px;
  margin-right: 70px;
  background-color: none;
}
.menu .enlaces {
  display: grid;
  grid-template-columns: repeat(5, auto);
}
.menu .enlaces a {
  color: black;
  font-size: 30px;
  text-decoration: none;
  grid-gap: 10px;
  letter-spacing: 2px;
}
.menu .menu-toggle {
  cursor: pointer;
  display: none;
  color: black;
  font-size: 18px;
}
@media screen and (max-width: 1240px) {
  .menu .enlaces a {
    color: black;
    font-size: 25px;
    text-decoration: none;
    grid-gap: 10px;
    letter-spacing: 2px;
  }
}
@media screen and (max-width: 980px) {
  .menu .enlaces a {
    color: black;
    font-size: 18px;
    text-decoration: none;
    grid-gap: 10px;
    letter-spacing: 2px;
  }
}
@media screen and (max-width: 768px) {
  .menu .menu {
    grid-template-columns: 1fr; /* Cambiar a una sola columna en pantallas pequeñas */
    height: 100px;
  }
  .menu .enlaces {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
  }
  .menu .menu-toggle {
    display: grid;
    place-content: end;
    font-size: 4vh;
    margin-right: 8vh;
  }
  .menu .enlaces.show {
    display: grid;
    grid-template-columns: 1fr;
    position: static;
    background-color: #ffffff;
    margin-left: 16vh;
  }
  .menu .enlaces.show a {
    text-align: center;
    padding: 10px;
  }
}
@media screen and (max-width: 515px) {
  .menu .menu {
    grid-template-columns: 1fr; /* Cambiar a una sola columna en pantallas pequeñas */
    height: 100px;
  }
  .menu .enlaces {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
  }
  .menu .menu-toggle {
    display: grid;
    place-content: end;
    font-size: 4vh;
    margin-right: 8vh;
  }
  .menu .enlaces.show {
    display: grid;
    grid-template-columns: 1fr;
    position: static;
    background-color: #ffffff;
    width: 100%;
    top: 100%;
    margin-left: 10vh;
  }
  .menu .enlaces.show a {
    text-align: center;
    padding: 10px;
  }
}

.video-container {
  position: relative;
  height: 100vh;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.moto1 {
  display: grid;
  grid-template-columns: auto auto;
  height: 70vh;
  background-color: #070707;
  color: white;
}

.moto2 {
  display: grid;
  grid-template-columns: auto auto;
  height: 70vh;
  color: white;
  background-color: #3c3c3c;
}

.videoMotos {
  height: 100%;
}

.moto1 div {
  display: grid;
  place-content: center;
  margin: 2vh;
}

.moto2 div {
  display: grid;
  place-content: center;
  margin: 2vh;
}

@media screen and (max-width: 1445px) {
  .moto1 {
    grid-template-columns: repeat(1, auto);
  }
  .videoMotos {
    height: 100%;
    width: 100%;
  }
  .moto2 {
    grid-template-columns: repeat(1, auto);
  }
}
@media screen and (max-width: 1000px) {
  .moto1 {
    display: grid;
    place-content: center;
    margin: 30px;
  }
  .moto2 {
    display: grid;
    place-content: center;
    margin: 30px;
  }
  .videoMotos {
    width: 70%;
  }
}
.principal {
  display: grid;
  place-content: center;
  margin-top: 10%;
}

.h1Principal {
  display: grid;
  place-content: center;
  font-family: "Arial", sans-serif;
  font-size: 120px;
}

.containerMotos {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(4, auto);
}

.card {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 40vh;
  margin: 10%;
  grid-gap: 20px;
}

.card-body {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

@media screen and (max-width: 1290px) {
  .h1Principal {
    font-size: 25px;
  }
  .containerMotos {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(2, auto);
  }
}
@media screen and (max-width: 768px) {
  .h1Principal {
    font-size: 25px;
  }
  .containerMotos {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(1, auto);
  }
}
.carta {
  margin: 20px 100px;
  display: grid;
  place-content: center;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.08);
  width: 70%;
}

.allado {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 10px;
  align-items: center;
}

.textoResaltado {
  color: #051C80;
}

.cantidadSitio {
  width: 6vh;
}

.principal {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(1, auto);
}

.h1Principal {
  display: grid;
  place-content: center;
  font-family: "Arial", sans-serif;
  font-size: 120px;
}

.container {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(4, auto);
}

.card {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 40vh;
}

.card-body {
  display: grid;
  grid-template-columns: repeat(1, auto);
}

.pagina-actual {
  background-color: #000; /* Color de fondo de la página actual */
  color: #000; /* Color del texto de la página actual */
  /* Otros estilos según necesites */
}

@media screen and (max-width: 769px) {
  .principal {
    grid-template-columns: 1fr;
  }
  .container {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 769px) {
  .principal {
    grid-template-columns: 1fr;
  }
  .container {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 600px) {
  .h1Principal {
    font-size: 45px;
  }
  .card {
    width: 60vw;
    margin: 5%;
  }
  .div1 {
    width: 40vw;
    margin: 5vh;
  }
}
@media screen and (max-width: 370px) {
  .h1Principal {
    font-size: 30px;
  }
  .card {
    width: 80vw;
    margin: 5%;
  }
  .div1 {
    width: 50vw;
    margin: 5vh;
  }
}
.h1Categorias {
  display: grid;
  place-content: center;
  font-family: "Arial", sans-serif;
  font-size: 120px;
}

.containerCategorias {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(3, auto);
}

.contenedor-cartas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1290px) {
  .contenedor-cartas {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(2, auto);
  }
}
@media screen and (max-width: 768px) {
  .contenedor-cartas {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(1, auto);
  }
}
footer {
  display: flex;
  justify-content: space-around;
  height: 40vh;
  align-items: center;
  background-image: url(../../imagenes/footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #ffffff;
  padding: 20px;
  font-size: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.perfil {
  display: flex;
  align-items: center;
}

.perfil img {
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
  border: 2px solid #051C80;
}

.perfil-info {
  text-align: left;
}

.seccion-contacto, .seccion-redes {
  text-align: center;
}

h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.seccion-redes a {
  color: #ffffff;
  text-decoration: none;
  margin: 5px;
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.seccion-redes a:hover {
  background-color: maroon;
  transform: scale(2);
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    text-align: center;
  }
  .perfil img {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
header {
  width: "100%";
}

header img {
  display: block;
  margin: 0 auto;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
}

.formulario {
  margin-left: 25px;
  padding: 20px;
}

#contactForm {
  display: grid;
  gap: 10px;
}

.informacionSitio {
  display: grid;
  grid-template-columns: 1fr;
}

.informacionSitio p {
  width: 50%;
}

.camposForm {
  border: none;
  background-color: #ecf0f1;
  border-bottom: 2px solid black;
}

.div1Informacion {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.div1Informacion h1 {
  color: black;
}

.div2Informacion {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.principalFormulario {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 10%;
  margin-bottom: 10%;
}

@media screen and (max-width: 1317px) {
  .principalFormulario {
    place-items: center;
    grid-template-columns: 1fr;
  }
  .formulario {
    width: 100%;
  }
  .informacionSitio {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 1095px) {
  .informacionSitio {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }
  .div1Informacion {
    place-items: center;
    margin-top: 20%;
    margin-bottom: 20%;
  }
  .div2Informacion {
    place-items: center;
    margin-bottom: 20%;
  }
}
@media screen and (max-width: 840px) {
  .principalFormulario {
    grid-template-columns: 1fr;
    place-items: center;
  }
  .informacionSitio {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }
}
header {
  width: "100%";
}

.textoCentrado {
  text-align: center;
  width: 20%;
  display: grid;
  place-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.cartasInformativas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 1100px) {
  .textoCentrado {
    font-size: 20px;
    width: 50%;
    place-content: center;
  }
  .cartasInformativas {
    place-content: center;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 769px) {
  .textoCentrado {
    font-size: 15px;
    place-content: center;
    width: 80%;
  }
  .cartasInformativas {
    place-content: center;
    grid-template-columns: repeat(1, auto);
  }
}
body {
  overflow-x: hidden;
  background-color: #ecf0f1;
}

.botonesPersonalizados {
  padding: 5px 10px;
  margin: 5px 10px;
  background-color: black;
  color: white;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.botonesPersonalizados:hover {
  background-color: #051C80;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.producto-card {
  width: 300px;
  height: 100%;
  display: grid;
  border: 1px solid black;
  place-items: center;
}

.producto-info {
  padding: 10px;
  text-align: center;
}

.producto-titulo {
  font-size: 1.2em;
  margin-bottom: 10px;
}

@media screen and (max-width: 769px) {
  .botonesPersonalizados {
    grid-template-columns: 1fr;
    padding: 5px 10px;
    margin: 5px 10px;
  }
}

/*# sourceMappingURL=todo.css.map */
