@charset "UTF-8";
.menu {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  background-color: #ffffff;
}
.menu .foto {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: 25px;
  background-color: none;
}
.menu .enlaces {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.menu .enlaces a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  grid-gap: 10px;
  letter-spacing: 2px;
}
.menu .enlaces a:last-child {
  margin-right: 0;
}
.menu .menu-toggle {
  cursor: pointer;
  display: none;
  color: black;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .menu .menu {
    grid-template-columns: 1fr; /* Cambiar a una sola columna en pantallas pequeñas */
    height: 100px;
  }
  .menu .enlaces {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
  }
  .menu .menu-toggle {
    display: grid;
    place-content: end;
    font-size: 4vh;
    margin-right: 8vh;
  }
  .menu .enlaces.show {
    display: grid;
    grid-template-columns: 1fr;
    position: static;
    background-color: #ffffff;
    width: 100%;
    top: 100%;
    margin-left: 10vh;
  }
  .menu .enlaces.show a {
    text-align: center;
    padding: 10px;
  }
}

.video-container {
  position: relative;
  height: 100vh;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.moto1 {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  height: 70vh;
  background-color: #070707;
  color: white;
}

.moto2 {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  height: 70vh;
  color: white;
  background-color: #3c3c3c;
}

video {
  height: 100%;
}

.moto1 div {
  display: grid;
  place-content: center;
  margin: 2vh;
}

.moto2 div {
  display: grid;
  place-content: center;
  margin: 2vh;
}

.principal {
  display: grid;
  place-content: center;
  margin-top: 10%;
}

.h1Principal {
  display: grid;
  place-content: center;
  font-family: "Arial", sans-serif;
  font-size: 120px;
}

.container {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(3, auto);
}

.card {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 40vh;
  margin: 10%;
  grid-gap: 20px;
}

.card-body {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

@media screen and (max-width: 1290px) {
  .container {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(2, auto);
  }
}
@media screen and (max-width: 768px) {
  .container {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(1, auto);
  }
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.carrito-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-content: center;
}

.card {
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.08);
}

@media screen and (max-width: 1290px) {
  .contenedor-cartas {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(2, auto);
  }
}
@media screen and (max-width: 768px) {
  .contenedor-cartas {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(1, auto);
  }
}
.principal {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(2, auto);
}

.h1Principal {
  display: grid;
  place-content: center;
  font-family: "Arial", sans-serif;
  font-size: 120px;
}

.container {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(2, auto);
}

.card {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 40vh;
}

.card-body {
  display: grid;
  grid-template-columns: repeat(1, auto);
}

@media screen and (max-width: 769px) {
  .principal {
    grid-template-columns: 1fr;
  }
  .container {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 769px) {
  .principal {
    grid-template-columns: 1fr;
  }
  .container {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 600px) {
  .h1Principal {
    font-size: 45px;
  }
  .card {
    width: 60vw;
    margin: 5%;
  }
  .div1 {
    width: 40vw;
    margin: 5vh;
  }
}
@media screen and (max-width: 370px) {
  .h1Principal {
    font-size: 30px;
  }
  .card {
    width: 80vw;
    margin: 5%;
  }
  .div1 {
    width: 50vw;
    margin: 5vh;
  }
}
.h1Categorias {
  display: grid;
  place-content: center;
  font-family: "Arial", sans-serif;
  font-size: 120px;
}

.categorias {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(3, auto);
}

.contenedor-cartas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 1290px) {
  .contenedor-cartas {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(2, auto);
  }
}
@media screen and (max-width: 768px) {
  .contenedor-cartas {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(1, auto);
  }
}
.footer {
  background-color: black;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-gap: 20px;
  height: auto;
}
.footer .separador {
  border-top: 1px solid white;
  grid-column: 1/-1;
  margin: 10px 0;
}
.footer .medio {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
}
.footer .contacto {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}
.footer .contacto h3 {
  margin: 0;
  font-size: 24px;
}
.footer .contacto::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 2px solid #575757;
  margin-top: 5px;
}
.footer form {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  width: 50%;
}
.footer form input, .footer form textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.footer form button {
  background-color: #575757;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}
.footer .derechos-autor {
  font-size: 16px;
  grid-column: 1/-1;
}

header img {
  display: block;
  margin: 0 auto;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
}

.formulario {
  max-width: 100%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

form {
  display: grid;
  gap: 10px;
}

button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

body {
  overflow-x: hidden;
  background-color: #ecf0f1;
}

/*# sourceMappingURL=todo.css.map */
