@import 'partials/_variables.scss';
@import 'partials/_mixins.scss';
@import 'partials/_functions.scss';
@import 'partials/_breakpoints.scss';
@import 'estilos/menu.scss';
@import 'estilos/video.scss';
@import 'estilos/motoFav.scss';
@import 'estilos/principal.scss';
@import 'estilos/carrito.scss';
@import 'estilos/tienda.scss';
@import 'estilos/categorias.scss';
@import 'estilos/footer.scss';
@import 'contacto/main.scss';
body{
    overflow-x: hidden;
    background-color: $gris;
}
.botonesPersonalizados {
    display: inline-block;
    padding: 10px 20px;
    margin:10px 20px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.botonesPersonalizados:hover {
    background-color: #2980b9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

