@import '../partials/variables.scss';

.h2Contacto{
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgContacto {
    max-width: 100%;
    height: auto;
    width: 100%;
}

.formContact {
    margin:10px 150px;
    padding: 20px;

}
#contactForm{
    display: grid;
    gap: 10px;
}

.informacionSitio{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
.informacionSitio p{
    width: 50%;
}
.camposForm {
    border: none;
    background-color:$gris;
    border-bottom: 2px solid $negro;
}

.div1Informacion{
    display:grid;
    grid-template-columns:1fr;
    place-items: center;

}
.div1Informacion h1{
    color:$negro;

}
.div2Informacion{
    display:grid;
    grid-template-columns:1fr;
    place-items: center;

}


@media screen and (max-width: 1317px) {

    .principalFormulario{
        place-items: center;
        grid-template-columns:1fr;
    }
    // .imgContacto{
    //     width: 100%;
    // }
    .formulario{
        width: 100%;
    }
    .informacionSitio{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width:1095px) {
    
    .header img{
        height: 600px;
    }
    .informacionSitio{
        display: grid;
        grid-template-columns: 1fr ;
        place-items: center;
    }
    .div1Informacion{
        place-items: center;
        margin-top: 20%;
        margin-bottom: 20%;
    }
    .div2Informacion{
        place-items: center;
        margin-bottom: 20%;
    }

}

@media screen and (max-width:840px) {
    .principalFormulario{
        grid-template-columns:1fr;
        place-items: center;
        
    }
    .informacionSitio{
        display: grid;
        grid-template-columns: 1fr ;
        place-items: center;
    }
}
@media screen and (max-width:500px) {
    .principalFormulario{
        grid-template-columns:1fr;
        place-items: center;
        width: 50px;
        
    }
    .informacionSitio{
        display: grid;
        grid-template-columns: 1fr ;
        

    }
}