// Variables de colores 
$azul:#3498db;
$verde:#2ecc71;
$gris:#ecf0f1;
$blanco:#ffffff;
$negro:black;
// Fuente y color primario
$main-font: 'Arial', sans-serif;
$primary-color: #333;
// Espacio de botones en menu
$gapMenu:10px;
//Alinear al centro con grid
$center:center;
//Tamaño de letra para h1 de index.html
$fonth1:120px;
//Tamaño de letra para textos en index.html
$fontNormal:32px;