@import '../partials/variables.scss';
@import '../partials/mixins.scss';

.footer {
    background-color: $negro;
    color: $blanco;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-gap: 20px;
    .separador {
        border-top: 1px solid white;
        grid-column: 1 / -1; 
        margin: 10px 0;
    }
    .medio{
        @include posicionCajas();
    }
    .contacto {
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;

        h3 {
        margin: 0;
        font-size: 24px;
        }

        &::after {
        content: '';
        display: block;
        width: 100%;
        border-bottom: 2px solid #575757;
        margin-top: 5px;
        }
    }

    form {
        margin: 20px 0;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        width: 50%;

        input, textarea {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        }

        button {
        background-color: #575757;
        color: #fff;
        padding: 10px;
        cursor: pointer;
        }
    }

    .derechos-autor {
        font-size: 16px;
        grid-column: 1 / -1; // Ocupa todas las columnas
    }
}

