@import '../partials/variables.scss';
@import '../partials/mixins.scss';
footer {
    display: flex;
    justify-content: space-around;
    height: 40vh;
    align-items: center;
    // background-color: #222;
    background-image: url(../../imagenes/footer.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    color: $blanco;
    padding: 20px;
    font-size: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.perfil {
    display: flex;
    align-items: center;
    
}

.perfil img {
    width: 80px;
    height: 80px;
    background-color:$blanco;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
    border: 2px solid $azul;
}

.perfil-info {
    text-align: left;
}

.seccion-contacto, .seccion-redes {
    text-align: center;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}



.seccion-redes a  {
    color: $blanco;
    text-decoration: none;
    margin: 5px;
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.seccion-redes a:hover  {
    background-color: maroon;
    transform: scale(2);
}

@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;
        text-align: center;
    }

    .perfil img {
        margin-right: 0;
        margin-bottom: 10px;
    }
}