
@import '../partials/variables.scss';

.menu {
    display: grid;
    grid-template-columns:auto auto;
    align-items: center;
    background-color: $blanco;

    .foto {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-left: 25px;
        background-color: none;
    }

    .enlaces {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    a {
        color: $negro;
        font-size: 20px;
        text-decoration: none;
        grid-gap: $gapMenu;
        letter-spacing: 2px;

        &:last-child {
            margin-right: 0;
        }
    }
    }

    .menu-toggle {
    cursor: pointer;
    display: none;
    color: $negro;
    font-size: 18px;
    }

    @media screen and (max-width: 768px) {
    .menu {
        grid-template-columns: 1fr; /* Cambiar a una sola columna en pantallas pequeñas */
        height: 100px;
    }

    .enlaces{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
    }

    .menu-toggle {
        display: grid;
        place-content: end;
        font-size: 4vh;
        margin-right: 8vh;
    }

    .enlaces.show{
        display: grid; 
        grid-template-columns: 1fr;
        position: static;
        background-color: $blanco;
        width: 100%;
        top: 100%;
        margin-left:10vh;
    }

    .enlaces.show a{
        text-align: center;
        padding: 10px;
    }
    }
}


