@import '../partials/variables.scss';
.moto1{
    display: grid;
    grid-template-columns: auto auto;
    height: 70vh;
    background-color: #070707;
    color: white;
}
.moto2{
    display: grid;
    grid-template-columns: auto auto;
    height: 70vh;
    color: white;
    background-color: #3c3c3c;
}
    .videoMotos{
        height: 100%;
        
    }
    .moto1 div{
        display: grid;
        place-content: center;
        margin: 2vh;
        
    }
    .moto2 div{
        display: grid;
        place-content: center;
        margin: 2vh;
    }
    @media screen and (max-width: 1445px) {
        .moto1{
            grid-template-columns: repeat(1,auto);
        
        }
        .videoMotos{
            height: 100%;
            width: 100%;
        }
        .moto2{
            grid-template-columns: repeat(1,auto);
        }
    }
    @media screen and (max-width: 1000px) {
        .moto1{
            display: grid;
            place-content:$center;
            margin: 30px;
        }
        .moto2{
            display: grid;
            place-content:$center;
            margin: 30px;
        }
        .videoMotos{
            width: 70%;
        }
    }