@import '../partials/variables.scss';

.principal{
    display: grid;
    place-content: center;
} 

.h1Principal{
    display:grid;
    place-content:$center;
    font-family: $main-font;
    font-size: 120px;
}
.containerMotos{
    display: grid;
    place-content: center;
    grid-template-columns: repeat(3, auto);
}

.bannerYamaha{
    display: flex;
    justify-content:center;
    background-color: $negro;
}
.bannerYamaha img{
    display: flex;
    height: auto;
    width: 100%;
    max-width: 720px;
}

@media screen and (max-width: 1290px) {
    .h1Principal{
        font-size: 80px;
    }
    .containerMotos{
        display: grid;
        place-content: center;
        grid-template-columns: repeat(2, auto);
    }
}
@media screen and (max-width: 768px) {
    .h1Principal{
        font-size: 40px;
    }
    .containerMotos{
        display: grid;
        place-content: center;
        grid-template-columns: repeat(1, auto);
    }
}


