@import '../partials/variables.scss';

.principal {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(1, auto);
    // background-color: cyan;
}

.h1Principal {
    display: grid;
    place-content: $center; // Ajuste: cambiado de $center a center
    font-family: $main-font;
    font-size: $fonth1;
}

.container {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(4, auto);
}

.pagina-actual {
    background-color: #000; /* Color de fondo de la página actual */
    color: #000; /* Color del texto de la página actual */
    /* Otros estilos según necesites */
}

@media screen and (max-width: 1425px) {

    .container {
        place-items: center;
        grid-template-columns: repeat(3,1fr); 
    }
}
@media screen and (max-width: 1235px) {
    .container {
        grid-template-columns: repeat(2,1fr); 
    }
}

@media screen and (max-width: 902px) {
    .principal {
        place-items: center;
        grid-template-columns: 1fr; 
    }

    .container {
        place-items: center;
        grid-template-columns: 1fr; 
    }
}




