@import '../partials/variables.scss';
@import '../partials/breakpoints.scss';
header{
    width:"100%";
}
.textoCentrado{
    text-align:$center;
    width: 20%;
    display: grid;
    place-content: $center;
    margin-top:60px;
    margin-bottom:60px;
}
.cartasInformativas{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}


@media screen and (max-width:$display-grande) {
    .textoCentrado {
        font-size: 20px;
        width: 50%;
        place-content: $center;
    }

    .cartasInformativas {
        place-content: $center;
        grid-template-columns: repeat(2,1fr); 
    }
}

@media screen and (max-width:$display-pequeño) {
    .textoCentrado {
        font-size: 15px;
        place-content: $center;
        width: 80%;
    }

    .cartasInformativas {
        place-content: $center;
        grid-template-columns: repeat(1,auto); 
    }
}
